name: Publish to Chrome Web Store

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  zip-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Zip Extension
        run: |
          zip -r itu-helper-chrome-extension.zip . \
            -x ".git/*" \
            -x ".github/*" \
            -x "README.md" \
            -x ".prettierrc.yml" \
            -x ".gitignore" \
            -x ".gitattributes"

      - name: Upload to Chrome Web Store
        uses: mobilefirstllc/cws-publish@latest
        with:
          action: 'upload'
          client_id: ${{ secrets.CLIENT }}
          client_secret: ${{ secrets.SECRET }}
          refresh_token: ${{ secrets.TOKEN }}
          extension_id: 'cinnpmhpiddpbjmmdmlncnlfhjanigkl'
          zip_file: 'itu-helper-chrome-extension.zip'